body {
    height: auto;
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #808080;
    background-color: #f7f7f7;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    margin-top: 50px;
    height: 100%;
    width: 100%;

}


h1,
h2,
h3 {
    font-weight: 400;
    margin-top: 0;
}

nav {
    height: 100%;
}

span {
    letter-spacing: 2px;
}

ul {
    padding: 0;
}

.side-menu {
    position: fixed;
    height: 100%;
    width: 100px;
    margin: 0;
    background-color: #86B049;
    transition: width 0.5;
    -webkit-transition: width 0.5s;
}

.side-menu:hover {
    width: 200px;
}

.side-menu:hover .navItemName {
    font-size: 12px;
}

.logo-box {
    display: flex;
    align-self: center;
    align-items: center;
    margin: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #476930;
}

.logo {
    width: 100%;
    font-size: 40px;
    font-weight: 200;
}

.navBar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 100%;
    /* align-items: center; */
    padding-left: 20px;
}

.navItem {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

}

.navSection {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 20px 30px 10px 10px;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}

.navSection:hover {
    background-color: #c8b88a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navItemName {
    margin-left: 20px;
    font-size: 0;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
}

.navItemName:hover {
    display: block;

}

.page-out {
    margin-left: 100px;
}

.page-in {
    width: 1074px;
    /* vertical-align: middle; */
    /* padding: 30px; */
    margin: 0 auto;
}

.info {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 1074px;
}

.info-avatar {
    width: 100%;
    height: 350px;
    text-align: center;
}

.info-text {
    width: 100%;
}

.info-picture {
    border-radius: 50%;
    height: 100%;
    box-shadow: 10px 0 #9ebf6d, 20px 0 #c2d7a4, 30px 0 #dae7c8;
}

.info-text {
    width: 100%;
    /* height: 100%; */
}

.info-name {
    font-size: 40px;
    font-weight: 500;
    color: #476930;
}

.info-smallBio {
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.4;
}

.info-links {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-links-resume {
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 40px;
    background-color: #476930;
    color: white;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.info-links-resume:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3);
}

.info-socialList {
    display: flex;
    list-style: none;
    margin-left: 30px;
}

.info-socialList li a {
    margin: 5px 10px;
    padding: 10px;
    border-radius: 6px;
    color: green;
    border: 1px solid #eee;
    box-shadow: 0px 4px 6px rgb(134 151 168 / 10%);
    font-size: 1.3em;
    transition: all 0.5s;
}

.info-socialList li a:hover {
    -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
}

.section-block {
    margin-top: 80px;
}

.section-container {
    padding: 50px;
    /* width: 100%; */
    background-color: white;
    border-radius: 50px;
    height: 100%;
}

.section-head {
    width: 100%;
}

.section-preTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    font-size: 0.8em;
}

.section-preTitle:before {
    display: block;
    content: "";
    width: 50px;
    height: 1px;
    margin-right: 20px;
    background: green;
}

.section-title {
    margin-top: 5px;
}

.section-box {
    background: white;
    border-radius: 50px;
    height: 300px;
    width: 100%;
}

.section-about p {
    padding: 50px;
    line-height: 1.5;
    font-size: 16px;
}

.section-grid {
    text-align: center;
    font-size: 0.7rem;
}

.skillsGrid {
    display: -ms-grid;
    display: grid;
    padding: 0;
    -ms-grid-columns: (minmax(80px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-column-gap: 70px;
    grid-row-gap: 20px;
    list-style-type: none;
}

.skillsGrid li {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 80px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
    box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
    border: 1px solid #eee;
}

.skillsGrid li:hover {
    -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
}

/* .skillsGrid li p {
    margin-top: 10px;
} */

.skillsGrid li img {
    width: 35px;
    height: 35px;
}

.project-box {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    padding: 50px;
    margin-bottom: 50px;
    border: 1px solid #eee;
    transition: all 0.3s ease-in;
}

.project-box:hover {
    -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 400px;
    margin-right: 50px;
    border-radius: 15px;
}